IAM_STAFF_AUTH_REDIS_URL=redis://localhost:6379/0
IAM_STAFF_AUTH_TRANSACTION_STORE_BACKEND=redis

IAM_STAFF_DB_DRIVER=postgresql+asyncpg
IAM_STAFF_DB_HOSTNAME=localhost
IAM_STAFF_DB_USERNAME=postgres
IAM_STAFF_DB_PASSWORD=password
IAM_STAFF_DB_DBNAME=iam_staff
IAM_STAFF_DB_PORT=5432

IAM_STAFF_OPENAPI_ROOT_PATH=/

IAM_STAFF_LOGIN_PROVIDERS_TABLE_ENABLED=true
IAM_STAFF_LOGIN_PROVIDERS_TABLE_NAME=login_providers
IAM_STAFF_AUTH_ENABLED=true
IAM_STAFF_AUTH_COOKIE_HTTPONLY=true
IAM_STAFF_AUTH_COOKIE_PATH=/
IAM_STAFF_AUTH_COOKIE_DOMAIN=.example.com
IAM_STAFF_AUTH_COOKIE_MAX_AGE=1800
IAM_STAFF_AUTH_COOKIE_SET_EXPIRES=true

IAM_STAFF_DATA_DIR=/opt/iam-staff-portal-data
IAM_STAFF_DATA_APPLICATION_URLS__RANCHER_APPLICATION_URL=https://rancher.openg2p.org
IAM_STAFF_DATA_APPLICATION_URLS__KEYCLOAK_APPLICATION_URL=https://keycloak.openg2p.org
IAM_STAFF_DATA_APPLICATION_URLS__REGISTRY_APPLICATION_URL=https://registry.openg2p.org
IAM_STAFF_DATA_APPLICATION_URLS__MINIO_APPLICATION_URL=https://minio.openg2p.org
